<div class="contact-wrapper">
    <div class="contact-title">Contact</div>
    <div class="contact-container">
        <div class="contact-box">
            <div class="contact-icon">
                <img src="../../../assets/Images/email.png"/>
            </div>
            <div class="contact-info">iamganeshkumar.official@gmail.com</div>
        </div>
        <div class="contact-box">
            <div class="contact-icon">
                <img src="../../../assets/Images/phone.png"/>
            </div>
            <div class="contact-info">+91 9488944070</div>
        </div>
        <div class="contact-box">
            <div class="contact-icon">
                <img src="../../../assets/Images/location.png"/>
            </div>
            <div class="contact-info">Virudhunagar</div>
        </div>
    </div>
</div>