<div class="contact-wrapper">
    <div class="contact-title">Contact</div>
    <div class="contact-container">
        <div class="contact-box">
            <div class="contact-icon">
                <img src="../../../assets/Images/email.png"/>
            </div>
            <a href="mailto:iamganeshkumar.official@gmail.com">
                <div class="contact-info">iamganeshkumar.official@gmail.com</div>
            </a>
        </div>
        <div class="contact-box">
            <div class="contact-icon">
                <img src="../../../assets/Images/phone.png"/>
            </div>
            <a href="tel:9488944070">
                <div class="contact-info">+91 9488944070</div>
            </a>
        </div>
        <div class="contact-box">
            <div class="contact-icon">
                <img src="../../../assets/Images/location.png"/>
            </div>
            <a href="https://www.google.com/maps/place/Rajapalayam,+Tamil+Nadu/@9.4597811,77.4863771,12z/data=!3m1!4b1!4m5!3m4!1s0x3b06e9d3a85aca8f:0x552789e33f3b0b11!8m2!3d9.4514843!4d77.5543425">
                <div class="contact-info">Virudhunagar</div>
            </a>
        </div>
    </div>
</div>