<div class="sidepanel-wrapper">
    <div class="header-wrapper">
        <div class="header-title">
            &lt;Ganesh<span>/</span>&gt;
        </div>
    </div>
    <div class="menu-wrapper">
        <div class="menu-name-wrapper" (click)="scrollTo('home')">
            <div class="menu-icon">
                <img src="../../assets/Images/home.svg"/>
            </div>
            <div class="menu-name">Home</div>
        </div>
        <div class="menu-name-wrapper" (click)="scrollTo('about')">
            <div class="menu-icon">
                <img src="../../assets/Images/about.svg"/>
            </div>
            <div class="menu-name">About</div>
        </div>
        <div class="menu-name-wrapper" (click)="scrollTo('experience')">
            <div class="menu-icon">
                <img src="../../assets/Images/experience.png"/>
            </div>
            <div class="menu-name">Experience</div>
        </div>
        <div class="menu-name-wrapper" (click)="scrollTo('skill')">
            <div class="menu-icon">
                <img src="../../assets/Images/skill.png"/>
            </div>
            <div class="menu-name">Skills</div>
        </div>
        <div class="menu-name-wrapper" (click)="scrollTo('contact')">
            <div class="menu-icon">
                <img src="../../assets/Images/contact.png"/>
            </div>
            <div class="menu-name">Contact</div>
        </div>
    </div>
    <div class="footer-wrapper">
        <div class="footer-title">
            Done with <span>angular@13.1</span>
        </div>
    </div>
</div>