<div class="skill-wrapper">
    <div class="skill-container">
        <div class="skill-title-box">
            Skills
        </div>
        <div class="skill-main">
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/react.svg"/>
                </div>
                <div class="skill-name">React JS</div>
                <div class="skill-bar"></div>
            </div>
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/angular.svg"/>
                </div>
                <div class="skill-name">Angular JS</div>
                <div class="skill-bar"></div>
            </div>
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/node.svg"/>
                </div>
                <div class="skill-name">Node JS</div>
                <div class="skill-bar"></div>
            </div>
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/php.png"/>
                </div>
                <div class="skill-name">PHP</div>
                <div class="skill-bar"></div>
            </div>
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/python.svg"/>
                </div>
                <div class="skill-name">Python</div>
                <div class="skill-bar"></div>
            </div>
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/cprogram.png"/>
                </div>
                <div class="skill-name">C Programming</div>
                <div class="skill-bar"></div>
            </div>
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/mysql.svg"/>
                </div>
                <div class="skill-name">Mysql</div>
                <div class="skill-bar"></div>
            </div>
            <div class="skill-box">
                <div class="skill-icon">
                    <img src="../../../assets/Images/git.svg"/>
                </div>
                <div class="skill-name">Github</div>
                <div class="skill-bar"></div>
            </div>
        </div>
    </div>
</div>