<div class="exp-wrapper">
    <div class="exp-container">
        <div class="exp-title">Experience</div>
        <div class="exp-cnt-wrapper">
            <div class="exp-section-wrapper">
                <div class="exp-yr-box">
                    2021 - Present
                </div>
                <div class="exp-title-box">
                    Native Farming(Free launching)
                </div>
                <div class="exp-des-box">
                    Creating a responsive webpages for both mobile and desktop.
                </div>
                <div class="work-icon-box">
                    <img src="../../../assets/Images/work.png"/>
                </div>
            </div>
            <div class="exp-section-wrapper">
                <div class="exp-yr-box">
                    2021 - Present
                </div>
                <div class="exp-title-box">
                    Product Engineer at Codingmart
                </div>
                <div class="exp-des-box">
                    Worked on Aditya Birla's Forever21 e-commerce website.Developed a responsive SPC page for mobile and desktop.
                </div>
                <div class="work-icon-box">
                    <img src="../../../assets/Images/work.png"/>
                </div>
            </div>
            <div class="exp-section-wrapper">
                <div class="exp-yr-box">
                    2020 - 2021
                </div>
                <div class="exp-title-box">
                    Product Engineer Trainee at Codingmart
                </div>
                <div class="exp-des-box">
                    Gained knowleadge on popular techstacks like react, angular and node.
                </div>
                <div class="work-icon-box">
                    <img src="../../../assets/Images/work.png"/>
                </div>
            </div>
        </div>
    </div>
</div>