<div class="home-container">
    <!-- Intro Container -->
    <div class="home-intro-wrapper">
        <div class="home-intro-container">
            <div class="home-avatar-box">
                <img src="../../../assets/Images/man.png"/>
            </div>
            <div class="home-name-box">
                Ganesh kumar
            </div>
            <div class="home-role-box">
                I'm a <span class="typed-text">FrontEnd Web Developer</span><span class="cursor">&nbsp;</span>
            </div>
            <div class="home-contact-box">
                <div class="contact-icon" (click)="redirectPages('instagram')">
                    <img src="../../../assets/Images/instagram.svg"/>
                </div>
                <div class="contact-icon" (click)="redirectPages('facebook')">
                    <img src="../../../assets/Images/facebook.svg"/>
                </div>
                <div class="contact-icon" (click)="redirectPages('github')">
                    <img src="../../../assets/Images/github.svg"/>
                </div>
                <div class="contact-icon" (click)="redirectPages('linkedin')">
                    <img src="../../../assets/Images/linkedin.svg"/>
                </div>
            </div>
            <div class="home-scroll-down">
                <img src="../../../assets/Images/scrolldown.gif"/>
            </div>
        </div> 
    </div>
    <!-- Intro Container -->
    <!-- Background images for parallex effect -->
    <div class="parallex-img-container">
        <div class="triangle">
            <img src="../../../assets/Images/triangle.png" data-speed="-3" class="parallex-img"/>
        </div>
        <div class="cross">
            <img src="../../../assets/Images/cross.png" data-speed="5" class="parallex-img"/>
        </div>
        <div class="rhombus">
            <img src="../../../assets/Images/rhombus.png" data-speed="2" class="parallex-img"/>
        </div>
        <div class="star">
            <img src="../../../assets/Images/star.png" data-speed="-4" class="parallex-img"/>
        </div>
        <div class="cross1">
            <img src="../../../assets/Images/cross1.png" data-speed="7" class="parallex-img"/>
        </div>
        <div class="triangle2">
            <img src="../../../assets/Images/triangle2.png" data-speed="-6" class="parallex-img"/>
        </div>
    </div>
    <!-- Background images for parallex effect -->
</div>