<div class="main-wrapper">
    <ng-template [ngIf] = "screenWidth > 1000" [ngIfElse] = "hamburger">
        <div class="sidepanel-wrapper">
            <app-sidepanel #hamburger></app-sidepanel>
        </div>
    </ng-template>

    <ng-template #hamburger>
        <div class="header-wrapper">
            <div class="header-title">
                &lt;Ganesh<span>/</span>&gt;
            </div>
        </div>
    </ng-template>
    
    <ng-template>Helo</ng-template>
    <div class="mainpanel-wrapper">
        <app-home id="home"></app-home>
        <app-about id="about"></app-about>
        <app-experience id="experience"></app-experience>
        <app-skill id="skill"></app-skill>
        <app-contact id="contact"></app-contact>
    </div>
</div>