<div class="about-wrapper">
    <div class="about-container">
        <div class="about-title-box">About Me</div>
        <div class="about-cnt-wrapper">
            <div class="about-avatar-box">
                <img src="../../../assets/Images/hacker.png"/>
            </div>
            <div class="about-cnt-container">
                <div class="about-cnt-lt">
                    <div class="about-cnt-lt-content">
                        I am Ganesh kumar, web developer from Tamilnadu, India. 
                        I have rich experience in web site design and building and customization.
                        Also interested in photo manipulation.
                    </div>
                    <a href="../../../assets/Files/Resume.pdf" download>
                        <div class="about-dwnl-box">Download Resume</div>
                    </a>
                </div>
                <div class="about-cnt-rt">
                    <div class="fd-wrapper">
                        <div class="fd-top-wraper">
                            <div class="fd-title">FrontEnd Development</div>
                            <div class="fd-per">80%</div>
                        </div>
                        <div class="fd-bottom-wr">
                            <div class="progress-bar">
                                <div class="fd-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bd-wrapper">
                        <div class="bd-top-wraper">
                            <div class="bd-title">BackEnd Development</div>
                            <div class="bd-per">70%</div>
                        </div>
                        <div class="bd-bottom-wr">
                            <div class="progress-bar">
                                <div class="bd-bar"></div>
                            </div>
                        </div>
                    </div>
                    <div class="pg-wrapper">
                        <div class="pg-top-wraper">
                            <div class="pg-title">Photo Manipulation</div>
                            <div class="pg-per">80%</div>
                        </div>
                        <div class="pg-bottom-wr">
                            <div class="progress-bar">
                                <div class="pg-bar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>